<% if flash[:danger] %>
	<div class="alert alert-info alert-dismissable fade show">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<% flash[:danger].each do |e| %>
			<%= e %>
		<% end %>
	</div>
<% end %>

<%= form_for @secret, remote: true do |f| %>
	<div class="form-group">
		<%= f.text_area :content, class: "form-control", rows: "3", placeholder: "Post a secret", autofocus: "autofocus" %> 
	</div>
	<div class="form-group secrets_post_button clearfix">
		<%= f.submit value: "Update secret", class: "btn btn-info pull-right" %>
	</div>	
<% end %> 