<% if @user_secrets %>	
	<div id="secrets_content_hse">
		<h5>Your Secrets</h5>
		<% @user_secrets.each do |secret| %>
			<div class="form-group secrets_content">
				<p>
					<%= secret.content %>
					<%= link_to 'edit', edit_secret_path(secret.id), remote: true, class: "my_links" %> |
					<%= link_to 'delete', secret_path(secret.id), remote: true, method: "delete", data: { confirm: 'confirm delete' }, class: "my_links" %>
				</p>
				<p class="my_links"><%= Secret.find(secret.id).likes.count %> likes</p>
			</div>
		<%end%>
	</div> 
<% end %>

