<% if flash[:success] %>
	<div class="alert alert-info alert-dismissable fade show">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<%= flash[:success] %>
	</div>
<% end %>
<div class="secrets_main col-md-8">
	
	<% if flash[:secret_errors] %></form>
		<% flash[:secret_errors].each do |e| %>
			<p class="my_links" style="color:red"><%=e%></p>
		<%end%>
	<%end%>
	
	<div id="my-postForm">
		<%= render 'postForm' %>
	</div>

	<div id="my-secrets">
		<%= render 'task' %>
	</div>
	
</div> 