
div.secrets_main .secrets_post_button{
	right: 80%;
}

div.secrets_main .form-group #secrets_textarea{
	border-color: #015c77;
	border-style: double;
}

div.secrets_main{
	left: 50%;
	transform: translateX(-50%);

}

div.secrets_main #secrets_content_hse{
	margin-top: 3rem;
}

div.secrets_main .secrets_content{
	border:1px solid #015c77;
	padding-left: 0.50rem;
}

div.secrets_main .secrets_content .secrets_content_in{
	margin-left: 0.25rem;

}

div.secrets_main .secrets_content .secrets_content_in .like_comment li{
	list-style: none;
	display: inline-block;
}

div.secrets_main .secrets_content .secrets_content_in .like_comment{
	margin-left:-40px;
}

div.secrets_main .secrets_content .secrets_content_in .like_comment .my_links a{
	color:black;
}

div.secrets_main .secrets_content #profile_icon{
	width:3em;
	height:3em;
	margin-top: 0.5rem;
}

div.secrets_main .secrets_content .secrets_content_p{
	margin-bottom: 0.25rem;
}

div.secrets_main .secrets_content .secrets_comments_parent{
	overflow:hidden;
}

div.secrets_main .secrets_content .secrets_comments{
	max-height: 25vh;
	overflow-y: scroll;
	
	/*border-top: 1px double black;
	border-bottom: 1px solid black;*/
} 

div.secrets_main #my-update-btn{
	margin-top: 0.25rem;
}

@media only screen and (max-width:575px){
	.my_navbar .container{
		margin-left: 0;
		margin-right: 0;
	}
}




